# Default ignored files
/../../../../../../../THONIC~1/AppData/Local/Temp/Rar$DRa11964.3307/HR-SYSTEM/.idea/shelf/
/../../../../../../../THONIC~1/AppData/Local/Temp/Rar$DRa11964.3307/HR-SYSTEM/.idea/workspace.xml
